* {
    font-family : "Helvetica Neue";
    justify-content: center;
    padding-top: 2px;
    align-items: center;
}

h1{
    font-size: 15px;
    color : crimson;
}

.rootContainer{
    display: flex;
    flex-direction: row;
}

.titles{
    padding-right: 25px;
}

.buttons{
    padding-left: 25px;
}

.btn{
    margin-left: 10px;
}



#eventDetails{
    font-size: 10px;
    color : #61dafb;
}
