#title{
    font-size: 15px;
}

.rootContainer{
    display: flex;
    flex-direction: row;
}

.titles{
    padding-right: 25px;
}

.buttons{
    padding-left: 25px;
}
//
//.btn{
//    margin-left: 10px;
//}

#eventDetails{
    font-size: 10px;
    color : #61dafb;
}
