.event-card-title {
  margin-top: 20px;
  font-size: 1.5rem;
}

.event-card-image {
  margin-top: 10px;
  width: 100%;
}

.event-card-description {
  margin-top: 15px;
}

.event-card-learn-more-button {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.event-card-learn-more-button:hover {
  background-color: white;
  color: black;
  .event-card-learn-more-link {
    color: black;
  }
}

.event-card-learn-more-link {
  text-decoration: none;
  color: white;
}