.event-location-card-map-container {
  margin-top: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40vh;
}

// remove mapbox logo and info box
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}