*{
    font-family: Helvetica;
}

.invenus-confirmation-email{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.confirmation-subheader{
    margin-top: 25px;
}

.confirmation-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.confirmation-subheader{
    display: flex;
    flex-direction: column;
}

.ticket-receipt-container{
    background: rgba( 255, 255, 255, 0.45 );
    border: 1px solid; //rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.confirmation-tag-header{
    margin: 0px;
}

.event-title{
    margin: 0px;
}

.summary-content{
    margin-top: 30px;
}

.summary-tag{
    padding-right: 10px;
}

.event-total-container{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-left: 30px;
}

.confirmation-total{
    margin-bottom: 0px;
}

.confirmation-tag-header{
    font-weight: bold;
    font-size: 20px;
}

.confirmation-details{
    display: flex;
    flex-direction: row;
}

.summary-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticket-summary-container{
    display: flex;
    flex-direction: column;
}

.bold{
    font-weight: bold;
}

.ticket-link{
    padding-inline: 10px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}